# secrets
.streamlit/secrets.toml
.streamlit/badge_generator_notification_settings.json

# Packliste runtime files
pages/.packliste_meta.json
*_autosave.pkl
*.tmp.xlsx

# virtual environment
.venv/
venv/

# Python
__pycache__/
*.pyc

# environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
